@tailwind base;
@tailwind components;
@tailwind utilities;

header , main {
    margin-left: 8vw;
    margin-rigth: 8vw;
}

.proyecto-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .image-container {
    width: 100%;
  }
  
  .project-image {
    height: auto;
    width: auto;
    object-fit: contain;
    transition: opacity 0.3s ease-in-out;
  }
  
  .description-container {
    margin-top: 0.5rem;
    /*text-align: center;*/
    width: 100%;
  }
}
  @media (min-width: 768px) {
    .proyecto-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .image-container {
      width: 100%;
    }
  
    .description-container {
      width: 100%;
      margin-top: 10px;
    }
    header , main {
        margin-left: 0;
        margin-rigth: 0;
    }
  }

  
  
